.screenModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.3);
}

body {
  font-family: "Microsoft YaHei", '微软雅黑', arial, 'HanHei SC', 'PingFang SC', 'lucida grande', tahoma, verdana, sans-serif;
  display: block;
  margin: 0px;
  font-size: 14px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, button, fieldset, input, textarea, p, blockquote, th, td {
  font-family: "Microsoft YaHei", '微软雅黑', arial,'HanHei SC', 'PingFang SC', 'lucida grande', tahoma, verdana, sans-serif;
}

.fontGray {
  color: #c5c5c5;
}

.fontBlue {
  color: $fontColor1;
}

.btn {
  background-color: white;
  color: $fontColor1;
  border: 1px solid $btnColor;
}

.btn-actived {
  background-color: $btnColor;
  color: $fontColor6;
}

// 三角，尖朝上
.triangle-top {
  border: 15px solid transparent;
  border-bottom-color: white;
}

// 三角，尖朝下
.triangle-bottom {
  border: 15px solid transparent;
  border-top-color: white;
}
// 弹出层
.ivu-modal-content{
  height: 566px;
  border-radius:15px ;
}
.ivu-modal-header{
  background:$baseColor2;
  border-top-left-radius:15px;
  border-top-right-radius:15px
}
.ivu-modal-close{
  background: url('~@images/person/icon-closedgaga.png') no-repeat 0 -39px;
  height: 38px;
  position: absolute;
  right: -8px;
  top: -8px;
  width: 38px;
  display: inline-block;
}
.ivu-modal-close .ivu-icon-ios-close {
  display: none;
}
.ivu-upload-drag{
  margin-top: 100px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}